.main {
    box-sizing: border-box;
    padding: 0 0 0 20px;
}

.title {
    margin: 10px 0;
    color: green;
}

.button{
    padding: 5px 25px;
    border: none;
    color: green;
    transition: color .3s;
    margin: 20px 0;
}

.button:hover{
    padding: 4px 24px;
    border: 1px solid #000;
    cursor: pointer;
    color: red;
}