// There Brat 
@font-face {
    font-family: "There Brat";
    font-display: block;
    src: url('../fonts/there-brat/There\ Brat.ttf');
    font-weight: normal;
}

// Hangover
@font-face {
    font-family: "Hangover";
    font-display: block;
    src: url('../fonts/hangover/Hangover.otf');
    font-weight: normal;
}
