// Fonts
$brat: 'There Brat', sans-serif;
$hangover: 'Hangover', sans-serif;

// Colors
$white: #F6F9F9;
$black: #151D1C;
$aqua-island: #7DA4A8;
$blue: #1E90FF;
$silver: #C0C0C0;
$slategrey: #708090;
$red: #FF4500;
$green: #08a448;
