li {
    list-style-type: none;
}

.link,
.title  {
    font-size: 24px;
    text-decoration: none;
    background: -webkit-linear-gradient(#eee, #7d7d7d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link:hover {
    text-decoration: none;
    background: -webkit-linear-gradient(#eee, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s;
}