.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    margin-bottom: 20px;
}

.team-icon {
    font-size: 26px;
    margin-right: 12px;
}

.button-link {
    cursor: pointer;
}

.button-link:hover {
    color: azure;
}