.block{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0;
    width: 350px;
    margin: 0 auto;
    min-height: 100px;
    list-style: none;
}

.mainBlock button {
    max-width: 100px;
    max-height: 25px;
}

.listItem {
    background-color: orange;
}